* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: Poppins, sans-serif;
    color: azure;
    padding: 16px 0;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.parent {
    min-width: 100vw;
    background: linear-gradient(
            90deg,
            #2A7B9B 0%,
            #2A449B 100%
    );} /* https://cssgradient.io */

.triangle {
    border-right: 100vw solid transparent; /* breedte van parent */
    border-bottom: 100px solid white; /* hoogte en kleur van de driehoek */
}